extends ../shared/template

block content
  h1 Add New Question

  form(method='POST', action='/user/courses/lesson/#{lessonId}/test')
    .time-limit-container
      input(type='number', name='time-limit', placeholder='Enter Test Time Limit')
    .passing-score-container
      input(type='number', name='passing-score', placeholder='Enter Test Passing Score')
    .question-answer-container
      input.question(type='text', name='question', placeholder='Enter Question')
      .test-answer
        //- h3 Select the checkbox of all correct answers.
        h3 Select the correct answer.
        label A
        input(type='radio' name='correct' value='A')
        input.answer-a(type='text', name='A', placeholder='Enter Answer')
        label B
        input(type='radio' name='correct' value='B')
        input.answer-b(type='text', name='B', placeholder='Enter Answer')
        label C
        input(type='radio' name='correct' value='C')
        input.answer-c(type='text', name='C', placeholder='Enter Answer')
        label D
        input(type='radio' name='correct' value='D')
        input.answer-d(type='text', name='D', placeholder='Enter Answer')
    button(type='submit', class='btn btn-default') Add Question
